@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


:root {
    --main-bg-color: #fff;
    --second-bg-color: #f5f5f5;
    --third-bg-color: #e3e3e3;
    --grey: #4b4b4b;
    --black: #000;
    --red: #fc230b;
    --top-header-size: 30px;
    --mid-header-size: 70px;
    --bottom-header-size: 35px;
    --btn-bg: #000;
    --btn-border-color: #000;
    --btn-color: #fff;
}

html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: .44rem;
}

html::-webkit-scrollbar-track {
    background: white;
}

html::-webkit-scrollbar-thumb {
    background: var(--grey);
    border-radius: 10rem;
}

input:focus {
    outline: none;
}

* {
    font-family: 'Nunito', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;

}

body {
    font-family: 'Nunito', sans-serif;
    overflow-x: hidden;
    position: relative;
    background-color: var(--main-bg-color);
    overflow-x: hidden;
}

button {
    cursor: pointer;
}

a {
    display: inline-block;
    text-decoration: none;
    color: unset;
}

li {
    list-style-type: none;
    font-weight: 400;
}

ul {
    font-weight: 1000;
}

img {
    max-width: 100%;
    max-height: 365px;
}

.container {
    margin: auto;
    padding: 0 20px;
    position: relative;
}

.bg-main {
    background-color: var(--main-bg-color);

}

.text-red {
    color: var(--red);
}

.mb-menu-close {
    display: none;
}

/* end dropdown */

.mid-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background-color: var(--main-bg-color);
    width: 100%
}

.logo {
    font-size: 40px;
    font-weight: 700;
}

.mb-logo {
    font-size: 25px;
    font-weight: 700;
}

.search {
    width: 600px;
    height: 40px;
    position: relative;
}

.search input {
    height: 80%;
    width: 100%;
    font-size: 16px;
    outline: 0;
    padding: 0 20px;
    border-radius: 10px;
    border: 0;
    background-color: var(--second-bg-color);
}

.search i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    cursor: pointer;
    font-size: 25px;
}

.user-menu {
    display: flex;
}

.user-menu>li {
    font-size: 25px;
    margin-left: 15px;
}

.bottom-header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.main-menu {
    display: flex;
    height: var(--bottom-header-size);
}

.main-menu>li>a {
    display: flex;
    align-items: center;
    margin: 0 20px;
    font-weight: 600;
    height: 100%;
    text-transform: uppercase;
}

.main-menu>li {
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;
}

.main-menu>li:hover {
    border-bottom: 2px solid var(--red);
    transition: all 1.5s;
}

.active-menu {
    border-bottom: 2px solid var(--red);
    transition: all 1.5s;
}

/* mega menu */

.mega-content {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: auto;
    background-color: var(--main-bg-color);
    width: 20%;
    top: calc(100% + 100px);
    z-index: 2;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0;
    transition: all 0.4s cubic-bezier(0.77, 0, 0.175, 1);

}


.mega-dropdown:hover .mega-content {
    opacity: 1;
    visibility: visible;
    top: 100%;
}

.mega-content h3 {
    margin: 20px 0;
    padding-left: 20px;
}

.mega-content ul {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.mega-content ul>li>a {
    font-weight: normal;
    padding: 10px 0;
    border-bottom: 2px dashed #f5f5f5;
    transition: padding-left 0.2s ease-in-out;
    margin: 0 20px;
    text-transform: capitalize;
}

.mega-content ul>li>a:hover {
    padding-left: 10px;
}

.mega-content ul>li {
    border-bottom: 2px solid transparent;
}

.mega-content ul>li:hover {
    border-bottom: 2px solid var(--red);
}

/* end mega menu */

.box {
    padding: 10px;
}


.slider,
.slider .container {
    height: 100%;
    position: relative;
}



.info-content button {
    margin-top: 30px;
}


.btn-flat {
    display: inline-block;
    padding: 0.9rem 1.8rem;
    font-size: 16px;
    font-weight: 700;
    color: rgb(14, 14, 14);
    border: 3px solid rgb(152, 152, 152);
    cursor: pointer;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;

}

.btn-flat:hover {
    color: rgb(255, 255, 255);
}

.btn-hover::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: rgb(255, 255, 255);
    background-color: rgb(51, 48, 48);
    transform: translateX(-100%);
    transition: all .4s;
    z-index: -1;
}

.btn-hover:hover::before {
    transform: translateX(0);
}

.slide.active .left-right {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
}

.product-card {
    position: relative;
    background-color: var(--main-bg-color);
    transition: all 1s ease-in-out;


}


.product-card:hover {
    transition: all 1s ease-in-out;
    background-color: var(--second-bg-color);
    box-shadow: #e6e6e6 0px 0px 10px;
    /* transform: scale(1.01); */
}

.product-card-img {
    height: 320px;
    max-width: 260px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1px;
    border-radius: 8px;
    background: #eeeeee;
}

.product-card-img picture {
    margin-top: 60px;
    transition: all 0.9s ease 0.1s;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.product-card-img picture:nth-of-type(2) {
    position: absolute;
    top: -100px;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 0;
    /*    height:100%; */
    max-height: 1000px;
}

.product-card-img picture img {
    width: 200%;
}


.product-card-img:hover picture:nth-of-type(2) {
    opacity: 1;
    visibility: visible;
}

.product-card-img:hover picture:nth-of-type(1) {
    opacity: 0;
    visibility: hidden;
}

.product-card-info {
    padding: 20px;
    text-align: center;
    position: relative;
}

.product-card-name {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}

.product-card-price {
    font-size: 14px;
}

.product-card-price .curr-price {
    font-size: 18px;
    opacity: .92;
    font-weight: bold;
    color: red;
}

.product-btn {
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    transition: all 0.3s ease-in-out;
    background: transparent !important;
}

.product-card:hover .product-btn {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.product-btn>*~* {
    margin-left: 5px;
}

.btn-shop-now,
.btn-cart-add {
    font-size: 15px;
    padding: 5px 10px;
    line-height: 17px;
}

.sp-item-name {
    font-size: 55px;
    font-weight: 600;
    margin-bottom: 30px;
}

.sp-item-description {
    margin-bottom: 60px;
    text-align: justify;
}

footer {
    padding: 100px 0;
    background-color: #000000;
    color: white;
}

.footer-head {
    margin-bottom: 20px;
    text-transform: uppercase;
}

footer ul li {
    margin-bottom: 10px;
}

.contact-header {
    text-align: center;
    font-weight: 600;
    margin-bottom: 30px;
    font-size: 38px;
}

.contact-socials {
    display: flex;
    justify-content: center;
}

.contact-socials a {
    font-size: 30px;
    margin: 0 10px;
}

.contact-socials a:hover {
    color: var(--grey);
}

.menu li a {
    text-transform: capitalize;
    transition: transform 0.3s ease-in-out;
}

.menu li a:hover {
    color: var(--red);
    transform: translateX(10px);
}

.subscribe {
    position: relative;
    margin-top: 20px;
    background-color: #000000;
}

.subscribe input {
    width: 100%;
    height: 50px;
    outline: 0;
    border: 0;
    padding: 0 30px;
    background-color: #000000;
}

.subscribe button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    outline: 0;
    border: 0;
    background-color: var(--red);
    color: var(--btn-color);
    padding: 10px;
    text-transform: uppercase;

}

.subscribe button:hover {
    background-color: var(--black);
}



.mb-menu-toggle {
    font-size: 25px;
}

.breadcumb {
    padding-left: 20px;
    background-color: #f5f3f3;
    width: 200%;
    margin-left: -30px;
    padding: 8px;
    font-size: 14px;
}

.breadcumb a {
    text-transform: capitalize;
}

.breadcumb a:hover {
    color: var(--red);
}

.breadcumb span {
    margin: 0 15px;
}

.filter-header {
    display: block;
    margin: 10px 0;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 13px;
    cursor: pointer;

}

.filter-header i {
    transition: all 0.3s ease-in-out;
}

.rotate i {
    transform: rotate(90deg);
    transition: all 0.3s ease-in-out;

}

.filter-list>li {
    margin-bottom: 5px;
    cursor: pointer;


}

.filter-list {
    animation: scale-animation 0.2s ease-in-out;
}

.filter-toggle-box {
    display: none;
}

.price-range {
    display: flex;
    align-items: center;
    justify-content: center;
}

.price-range span {
    flex-grow: 1;
    text-align: center;
    margin: 0 10px;
}

.price-range input {
    width: 40%;
    outline: none;
    padding: 5px;
}

.group-checkbox {
    text-align: left;
}

.group-checkbox input {
    opacity: 0;
    height: 0;
    width: 0;
    cursor: pointer;
}

.group-checkbox label {
    cursor: pointer;
    padding-left: 30px;
    position: relative;
}

.group-checkbox label::before {
    content: "";
    position: absolute;
    left: 3px;
    top: 2px;
    width: 12px;
    height: 12px;
    background-color: var(--main-bg-color);
    border: 1px solid #d1cece;
}

.group-checkbox label>i {
    position: absolute;
    left: 2px;
    top: -2px;
    color: var(--black);
    transform: scale(0);
    font-size: 21px;
    transition: transform 0.1s ease-in-out;
}

.group-checkbox input:checked+label i {
    transform: scale(1);
}

.rating i {
    color: #ffc107;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.pagination>li>a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    margin-left: 5px;
    font-size: 20px;
    transition: all 0.2s;
}

.pagination>li>a.active {
    background-color: var(--black);
    color: var(--main-bg-color);
    transition: all 0.2s;
}

.pagination>li>a:hover {
    border: 2px solid var(--black);
    transition: all 0.2s;
}


.product-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-img>img {
    max-width: 70%;
}

.product-img-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-img-item {
    width: 90px;
    cursor: pointer;
    margin: 0 10px;
    border: 1px solid var(--third-bg-color);
}

.product-img-item:hover {
    background-color: var(--second-bg-color);
}

.product-row {
    padding: 45px 0;
}

.product-info>*~* {
    margin-top: 25px;
}

.product-info-detail-title {
    font-weight: 600;
    color: gray;
}

.product-description {
    font-size: 18px;
    text-align: justify;
}

.product-info-price {
    font-weight: 600;
    font-size: 30px;
    color: var(--red);
}

.product-quantity-wrapper {
    display: flex;
    align-items: center;
}

.product-quantity {
    margin: 0 10px;
    font-size: 25px;
}

.product-quantity-btn {
    height: 30px;
    width: 30px;
    background-color: gray;
    display: grid;
    place-items: center;
    border-radius: 50%;
    cursor: pointer;
}

.product-quantity-btn i {
    font-size: 20px;
    color: var(--main-bg-color);
}

.box-header {
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.product-detail-description {
    position: relative;
    margin-bottom: 90px;
}

.product-detail-description-content {
    text-align: justify;
    line-height: 26px;
    font-size: 16px;
    height: 600px;
    overflow-y: hidden;
    position: relative;
}

.product-detail-description-content.active {
    height: max-content;
}

.btn-view-description {
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translateX(-50%);
}

.filter-col {
    /* border: 1px solid rgb(167, 161, 161); */
    margin-top: 20px;
    border-radius: 10px;
    height: 30%;
    width: 10%;
    /* background: rgb(244, 244, 244) ; */
    position: sticky;
    top: 70px;
    left: 5px;
    padding: 0;
    min-width: calc(15% - 15px);
    margin-bottom: 30px;
    visibility: visible;
    z-index: 0;
    font-size: 14px;

}

.products-d {
    /* background-color: red; */
    width: 100%;
    margin-left: 60px;

}

.filter-list li a:hover {
    color: var(--red);
    transform: translateX(10px);
    transition: all 0.5s ease-in-out;


}

.filter-list li a {
    font-weight: 300;
    transition: all 0.5s ease-in-out;
}

select {
    line-height: inherit;
}

select {
    font-size: 14px;
    width: 100%;
    display: block;
    height: 30px;
    padding: 0 20px 0 0;
    border-color: transparent;
    border-bottom: 1px solid #000;
    background-color: #fff;
    outline: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    text-indent: 1px;
}

footer .col-md-6 {
    margin-left: 200px;
}

/* cart */
.navbar {
    position: fixed;
    top: 7%;
    right: 10px;
    transition: all 1s ease-in-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 1000;
    height: auto;
    max-height: 90%;
    background: rgb(255, 255, 255);
    padding: 3rem;
    width: 30rem;
    transition: all 0.3s ease-in-out;
    visibility: hidden;
    opacity: 0;
    transform: scale(0.7);
    transform: scale(0.7);

}

.navbar.active {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    transform: scale(1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* .navbar.active {
    right: 10px;
    transition: all 1s ease-in-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */

.click-user {
    cursor: pointer;
    transition: all 1s ease-in-out;
}

.click-user:hover {
    color: var(--red);
    transition: all 1s ease-in-out;
}

.click-cart {
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.click-cart:hover {
    color: var(--red);
    transition: all .5s ease-in-out;
}

.count {
    position: absolute;
    top: 14px;
    right: 13px;
    background: rgb(245, 59, 59);
    color: white;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    padding: 2px 4px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}

.ttbold {
    font-size: 16px;
    color: #000;
    margin: 2px 0 15px;
    font-weight: 500;
    padding: 6px 20px;
    background: #f3f5f6;
    border: 1px solid #e7ebec;
    text-align: center;
    border-radius: 4px;
    margin-top: -30px;
}

.cart {
    width: 124%;
    margin-left: -12%;
    margin-top: -8px;
    /* background: rgb(245, 59, 59); */
    height: auto;
    max-height: 500px;
    overflow: scroll;
}

.cart::-webkit-scrollbar {
    width: .2rem;
}

.cart::-webkit-scrollbar-track {
    background: white;
}

.cart::-webkit-scrollbar-thumb {
    background: var(--grey);
    border-radius: 10rem;
}

#close {
    position: absolute;
    top: 1px;
    right: 2px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.site-cart .cart-ttbold {
    padding: 0 20px
}

.cart-view table {
    font-size: 14px;
    font-weight: bold;
    width: 95%;
    margin: 0 auto;

}

.cart-view td {
    border-bottom: 1px solid #DCDCD9;
}

.button {
    position: relative;
    display: inline-block;
    padding: 10px 28px;
    line-height: normal;
    border: 1px solid #ffffff;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    letter-spacing: 1px;
    background-color: transparent;
    -webkit-transition: color 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86), border 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: color 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86), border 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    z-index: 1;
    color: #252a2b;
    overflow: hidden;
}

.button:before {
    position: absolute;
    content: '';
    display: block;
    left: -2px;
    top: 0;
    right: -2px;
    bottom: 0;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transform-origin: left center;
    transform-origin: left center;
    z-index: -1;
    background-color: #ffffff;
    -webkit-transition: -webkit-transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: -webkit-transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.button:hover {
    color: #fff;
}

.button.dark {
    color: #fff;
    border-color: #ec334d;
}

.button.dark:before {
    background-color: #ec334d;
}

.button.dark:hover {
    color: #252a2b;
}

.button:hover:before {
    -webkit-transform-origin: right center;
    transform-origin: right center;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
}

.pro-title-view {
    font-size: 14px;
    color: #5d1313;
    font-weight: bold;
}

.text-left {
    width: 250px;
    text-align: left;
    font-size: 13px;
}

.text-right {
    width: 300px;
    text-align: right;
    font-weight: bold;
    font-size: 13px;

}

.remove-cart {
    cursor: pointer;
}

.discount {
    position: absolute;
    top: 5px;
    left: 213px;
    width: 38px;
    height: 20px;
    text-align: center;
    color: rgb(235, 235, 235);
    background-color: hsl(0, 96%, 59%);
    z-index: 100;
    border-radius: 6px;
    display: flex;
    justify-content: center;


}

.discount p {
    margin-top: 3px;
    font-size: 11px;
    font-weight: bold;
}

.sale {
    position: absolute;
    top: 5px;
    left: 15px;
    width: 37px;
    height: 15px;
    font-size: 12px;
    text-align: center;
    color: rgb(255, 0, 0);
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    z-index: 100;
    font-weight: 600;
}

.sale p {
    margin-top: 0px;
    font-size: 11px;
    font-weight: bold;
}

.blue {
    color: rgb(247, 247, 247);
    background-color: #4a19bb;
}

.cost {
    text-decoration: underline;
    font-weight: bold;
    font-size: 13px;
    margin-right: 10px;
    position: relative;
    top: -3px;
    left: -3px;

}

.drop-user {
    position: fixed;
}

.drop-content {
    display: block;
    background: rgb(239, 175, 217);
    position: absolute;
    top: 50px;
    right: 0px;
    padding: 10px;
}

.drop-user {
    display: block;
    position: fixed;
    top: 7%;
    right: 10px;
    z-index: 1000;
    height: auto;
    max-height: 400px;
    background: rgb(255, 255, 255);
    width: 30rem;
    width: 150px;
    border-radius: 10px;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
    opacity: 0;
    transform: scale(0.7);
    transform: scale(0.7);

}

.drop-user.active1 {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    transform: scale(1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.content-user {
    margin: 10px;
}

.bottomm1 {
    border-bottom: 1px solid #dfe0e1;
}

@keyframes scale-animation {
    0% {
        opacity: 0;
        transform: scaleY(1.1);
        transform: scaleX(1.1);

    }

    100% {
        opacity: 1;
        transform: scaleY(1);
        transform: scaleX(1);

    }
}

/* .main-menu-mobi{

    visibility: visible;
} */
.mobi-nav {
    display: none;
    z-index: -100;
    color: white;
    z-index: 999;
}

.main-menu-mobile {
    position: fixed;
    height: 100%;
    width: 300px;
    z-index: 9999;
    left: 0%;
    top: 1px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #f5f5f5;
    transition: all 0.5s ease-in-out;
}
 .active-menu {
    position: fixed;
    left: -100%!important;
    transition: all 1s ease-in-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.close-moblie {
    margin-top: 1px;
    margin-left: 280px;
    cursor: pointer;
    
}

@media only screen and (max-width:800px) {

    /* For tablets: */
    #filter-col>.box {
        width: 100%;
        display: none;

    }

    #filter-col {
        width: 100%;


    }

    #product-zone {
        width: 200%;
        margin-left: -20px;
    }

    #product-zone>.row {
        margin-left: -10px
    }

    .col-4 {
        width: 35%;
        margin: 1px;
    }

    .discount {
        margin-left: -20%;
        top: 5px;

    }

    .discount p {
        margin-top: 3px;
        font-size: 11px;
        font-weight: bold;
    }

    .row-title {
        margin-left: -5px !important;
    }

    .row-select {
        top: 25px;
        left: 60px !important;
    }

    .header-wrapper {
        width: 100%;
    }

    .mid-header {
        width: 98%;
    }

    .mid-header .user-menu {
        margin-left: -300px;
    }

    .mid-header img {
        width: 140px !important;
    }

    .count {
        top: -10px;
        right: -10px;
    }

    .search {
        width: 150px;
        height: 40px;
        position: relative;
        right: 150px;
    }

    .mid-header .user-menu {
        position: relative;
        right: 0px;
    }

    .bottom-header .main-menu {
        display: none;
    }

    .logo-bottom {
        right: 65px !important;

    }

    .logo-bottom img {
        width: 140px !important;
    }

    .mobi-nav {
        position: relative;
        display: block;
        top: 0px;
        right: 210px;
        top: -3px;
        font-size: 20px;
        font-weight: normal;
        color: black;
    }
    .nav1 {
        flex-flow: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding-left: 15px;
        padding-right: 15px;
        font-weight: 900 !important;
    }
    .nav__item {
        flex-flow: column;
        justify-content: center;
        align-items: flex-start;
        padding: 30px 10px;
        height: auto;
    }
    .nav__item {
        width: 100%;
        padding: 15px 5px;
        justify-content: flex-start;
        border-top: 1px solid #d6d2d2;
    }
    .nav-child-menu {
        padding-left: 10px;
        padding-top: 5px;
        list-style: none;
        width: 100%;
    }
    .nav__item>a {
        font-size: 14px;
        font-weight: 400;
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        text-align: left;
        position: relative;
    }
    .text-b{
        margin-left: 3px !important;
    }
    #mobile-site{
        /* background-color: red; */
    }
    #mobile-site .row{
        margin-left: -15px;
        margin-left: -50px;
    }
    .col-1{
        display: none;
    }
    .col-7 {
        width: 100%;
    }
    .col-51 {
        width: 100%;
    }
    .box .row{
        margin-left: -20px !important;
    }
       
   
}



@media only screen and (max-width:500px) {


    .menu,
    .main,
    .right {
        width: 100%;
    }
}