.hold-img{
    margin-top: 20px;
    border-radius: 10px;
    /* background: rgb(244, 244, 244) ; */
    position: sticky;
    top: 70px;
    left: 5px;
    padding: 0;
    min-width: calc(15% - 15px);
    margin-bottom: 30px;
    visibility: visible;
    z-index: 0;
    font-size: 14px;
}
.hold-img img{
    border: 1px solid rgb(205, 204, 204);
    border-radius: 8px;
    margin-bottom: 10px;
}
.buttonadd{
    width: 400px;
    padding:18px;
    font-weight:700;
}

.hold-des{
    margin-top: 20px;
    border-radius: 10px;
    /* background: rgb(244, 244, 244) ; */
    position: sticky;
    top: 70px;
    left: 5px;
    padding: 0;
    min-width: calc(15% - 15px);
    margin-bottom: 30px;
    visibility: visible;
    z-index: 0;
    font-size: 14px;
}
.img-mid img{
    width: 956px;
}
.boder-b  td{
    border-bottom: 1px solid rgb(90, 80, 80);
    margin: 10px;
}
.text-tit {
    color: grey;
    font-weight:normal;
    margin-bottom: 3px;
}
.btn-size{
    padding:8px;
    margin: 5px;
    background-color:white;
    border: 1px solid black;
    border-radius: 10px;
    transition: all 1s;
    font-weight: bold;
}
.btn-size:hover{
    color:white;
    background-color:rgb(55, 55, 55);
    transition: all 1s;
   
}
.btn{
    padding:5px 10px;
    margin: 5px;
    background-color:white;
    border: 1px solid black;
    transition: all 1s;
    font-weight: bold;
}
.active1{
    color:white;
    background-color:rgb(55, 55, 55);
}