@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Palette+Mosaic&family=Poppins:ital,wght@0,100;0,200;0,400;1,100;1,200;1,300&family=Roboto+Mono:ital@1&family=Rubik+Glitch&family=Signika+Negative:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Palette+Mosaic&family=Poppins:ital,wght@0,100;0,200;0,400;1,100;1,200;1,300&family=Roboto+Mono:ital@1&family=Rubik+Glitch&family=Signika+Negative:wght@400;500;600;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Signika Negative", sans-serif;
    font-size: 16px;
}
a {
    text-decoration: none;
    color: #000;
}

li {
    list-style: none;
    
}

  /* animation */
  @keyframes scale-animation {
    0%{
      opacity: 0;
      transform: scaleY(1.1);
      transform: scaleX(1.1);
 
    }
    100%{
      opacity: 1;
      transform: scaleY(1);
      transform: scaleX(1);
   
    }
  }
/* side-bar */

.sidebar{
  position: sticky;
  padding: 5px;
  top: 0px;
  border-radius:0px 30px 30px 0px;
  background: #ffffff;
  height:875px;
  box-shadow: 0px 2px 10px rgb(4 0 0 / 15%);
  /* border: 1px solid #f0eeee; */
}
.sidebar-header {
    display: flex;
    margin: 30px 0px 30px 0px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
 
}
  
.sidebar-header .sidebar-header-logo{
    height: 90px;
}
.sidebar-header .menu-webname{
    margin-top: 10px;
    font-weight: 600;
    text-align: center;
  }

  .menu-item {
    height: 35px;
    margin: 0px 0px 10px 0px;
    background-color: transparent !important;
    border-radius: 5px;
    display: flex;
    align-items: left;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    color:white;
    
  }
  
  .menu-item .menu-link{
    font-weight: 600;
    color:#211f1f;
  }
  
  .menu-item .menu-link i{
    margin-right: 5px;
    transition: 1s;
  }
  
  .menu-item:hover{
    cursor: pointer;
    background-color: #ebebeb !important;
  }
  
  .menu-item:hover .menu-link i{
    transform: rotate(60deg);
  }
  .menu-item:hover .menu-link span{
    transform: rotate(10deg);
  }
  .dropbtn i{
    transition: all 0.5s;
  }
  .product{
    display: none;
  }
  
  .employee{
    display: none;
  }
  
  #manufacturer{
    display: none;
  }
  
  .dropbtn{
    border: none;
    background: none !important;
   
  }
  
  .dropdown-content{
    width: 100%;
    margin-left: 5px;
    animation: scale-animation 0.5s ease;
    background: transparent !important;
    transition: 0.3s;
    
  }
  .dropdown-content span{
    margin-left: 5px;
    transition: margin-left 0.8s;
    
  }
  .dropdown-content:hover span{
    margin-left: 10px;
    
    
  }
  .dropdown-content:hover{
    background-color: #ebebeb !important;
  }
  
  .show {
    display: flex !important;
    margin-left: 10px;
  }
  .show i{
    margin-left: 10px;
  }
  
  .show:hover i{
    transform:translateX(5px) !important;
  }
  .rotation {
    transform: rotate(180deg);
    transition: all 0.5s;
  }



  /* header */


  .header {
    display: flex;
    justify-content: space-between;
    padding: .5rem;
    background: linear-gradient(-120deg, #f1f1f1, #f7f7f7);
     /* box-shadow: 9px 1px 1px rgb(4 0 0 / 10%); */
    height: 53px;
    margin-left: -20px;
    
}
.search-wrapper {
  box-shadow: 1px 1px 30px #d4d4d4;
  border-radius: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 300px;
  margin-left: 500px;
  background: rgb(255, 255, 255);
}

.search-wrapper span {
  display: inline-block;
  padding: 0rem 1rem;
}

.search-wrapper input {
  height: 10px;
  width: 170%;
  padding: .5rem;
  border-radius: 30px;
  border: none;
  outline: none;
  
 
}


.user-wrapper {
  margin-top: -5px;
  display: flex;
  align-items: center;
  border-radius:30px;
  box-shadow: 1px 1px 40px #d4d4d4;
  height: 40px;
  border-radius:30px;
  background:   #ffffff;;
  padding-left: 10px;

 
}

.user-wrapper img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    max-height: 35px;
    max-width: 35px;
    margin-right: 10px;
    
}

.user-wrapper small {
    display: inline-block;
    color: black;
    margin-right: 1.1rem;
    margin-top: - 4px !important;
    font-size: 13px;
   
}

/* layout */
.container-header { 
  grid-area: header; 
  position: -webkit-sticky;
  position: sticky; 
    top: 0px;
  background:  #f9f2e9;
  
}
.container-header{
  background: transparent ;
  height:30px;
}
.container-menu { 
  grid-area: menu; 
  background:  #f9f2e9;
  height: 100%;
}
.container-main { 
  grid-area: main; 
  padding: 20px !important;

  background: linear-gradient(-120deg, #f1f1f1, #f7f7f7);
  overflow-x: hidden;
  height: 100%;
}
.container-right { 
  grid-area: right; 
  background:  #f9f2e9;

}
.grid-container {
  display: grid;
  grid-template-areas:
      'menu header header'
      'menu main right';
  grid-template-rows: 6vh auto 0vh;
  grid-template-columns: 25vh auto 0vh;
  grid-gap: 0px;
  padding: 0px;
  height: 100vh;
  background: #fff;
  overflow: hidden;
}

.grid-container > div {
padding: 0;
}

.container-main::-webkit-scrollbar {
  width:8px;
  background-color: #fcf7f0;
  border-radius: 50px;
} 

.container-main::-webkit-scrollbar-thumb {
  background-color: #ff4e83;
  border-radius: 50px;
}
.container-main::-webkit-scrollbar-track {
  background-color: #FBF6F0;
  border-radius: 30px;
}


.dropdown:checked + label:before,
.dropdown:not(:checked) + label:before{
  position: fixed;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  z-index: -1;
  cursor: auto;
  pointer-events: none;
}
.dropdown:checked + label:before{
  pointer-events: auto;
}
.dropdown:not(:checked) + label .fa-solid {
  font-size: 24px;
  margin-left: 10px;
  transition: transform 200ms linear;
}
.dropdown:checked + label .fa-solid {
  transform: rotate(180deg);
  font-size: 24px;
  margin-left: 10px;
  transition: transform 200ms linear;
}
.section-dropdown {
  position: absolute;
  padding: 5px;
  background-color: rgb(245, 162, 162);
  top: 70px;
  right: 0;
  width: 9%;
  border-radius: 4px;
  display: block;
  box-shadow: 0 14px 35px 0 rgba(254, 244, 247, 0.4);
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  transform: translateY(20px);
  transition: all 200ms linear;
}
.dropdown:checked ~ .section-dropdown{
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
.section-dropdown:before {
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  height: 20px;
  content: '';
  display: block;
  z-index: 1;
}
.section-dropdown:after {
  position: absolute;
  top: -7px;
  right: 37px;
  width: 0; 
  height: 0; 
  border-left: 8px solid transparent;
  border-right: 8px solid transparent; 
  border-bottom: 8px solid rgb(235, 163, 163);
  content: '';
  display: block;
  z-index: 2;
  transition: all 200ms linear;
}

.section-dropdown-sub a {
  position: relative;
  color: #fff;
  transition: all 200ms linear;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 15px;
  border-radius: 2px;
  padding: 5px 0;
  padding-left: 20px;
  padding-right: 15px;
  margin: 2px 0;
  text-align: left;
  text-decoration: none;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  justify-content: space-between;
    -ms-flex-pack: distribute;
}
.link-1{
  color: grey;
  transition: all 1s;
}
.link-1:hover{
  transition: all 1s;
  color:  rgb(230, 76, 163);
  cursor: pointer;
}