main {
    margin-left: 220px;
    padding: 0.5rem 1.5rem;
    /* background: white; */
    min-height: calc(100vh - 85px);
    height: 100%;
    width: 98%;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 10fr);
    grid-gap: 2rem;
    margin-left: 100px;
}

.card-single {
    display: flex;
    justify-content: space-between;
    background: rgb(255, 255, 255);
    padding: 1.0rem;
    border-radius: 2rem;
}

.card-single h1+span {
    color: grey;
    /* padding: 2.5rem; */
}

.card-single span:first-child {
    font-size: 3rem;
}

.card-single:hover {

    background-color: #e6dfdf;
    color: #fff;
    box-shadow: 0 4px 6px 0 rgba(97, 126, 222, 0.3);
}

.table-content {
    margin-top: 15px;
    background: rgb(255, 255, 255);
    width: 87%;
    height: 500px;
    border-radius: 30px;
    padding: 10px;
    overflow:scroll;
}
.table-content::-webkit-scrollbar {
    width: 4px;
    background-color: #f4ebde;
    border-radius: 30px;
} 
.table-content::-webkit-scrollbar-thumb {
    background-color: #ff4e83;
    border-radius: 50px;
}
.table-content::-webkit-scrollbar-track {
    background-color: #f4ebde;
    border-radius: 30px;
}
.table-content {
    overflow-x: hidden;
  }

.table-button {
    /* margin-top: 20px; */
    margin: 20px;
}

.table-button button {

    border: 1px solid rgba(255, 255, 255);
    border-radius: 30px;
    width: 170px;
    height: 30px;

}

.table-button .btn-add button:hover {
    background: rgba(243, 62, 192, 0.8);
    padding: 5px;
    transition: all 0.8s;
}
/* .btn-add  span{
    color: #FFBB36;
    margin-right: 10px;
    transition: 0.5s ease-in-out;
  }
  
  .btn-add:hover span{
    margin-right: 10px;
    color: #fff;
  } */

.table-button .btn-out button:hover {
    background: rgba(0, 248, 83, 0.8);
    padding: 5px;
    transition: all 0.8s;

}

.table-button .btn-add {
    float: left;
    margin-right: 20px;
}

.table-button .btn-add button {
    background: rgba(243, 62, 192, 0.5);
    padding: 5px;
}

.table-button .btn-out button {
    background: rgba(85, 229, 133, 0.4);
    padding: 5px;
}
.table-button .btn-add span {
    display: inline;

    font-size: 1rem;
}

table {
    /* padding: 30px; */
    color: rgb(0, 0, 0); 
    border-collapse: collapse;
    width: 100%;
    align-items: center;

}

td,th {
    border: 2px solid rgb(255, 255, 255);
    padding: 4px;
   
    color: rgb(0, 0, 0);
    justify-content:center;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}
 th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: rgba(227, 239, 59, 0.5);
    color: rgb(0, 0, 0);
    font-size:13px;
  }
td{
    font-size:15px;
    text-align:center;
  }


  .table-button2 button {

    border: none;
    border-radius: 30px;
    width: 100px;
    height: 30px;
    margin: 5px;
}

.table-button2 .btn-delete button:hover {
    background: rgba(201, 62, 243, 0.8);
    padding: 5px;
    transition: all 0.8s;
}

.table-button2 .btn-update button:hover {
    background: rgba(0, 248, 83, 0.8);
    padding: 5px;
    transition: all 0.8s;

}

/* .table-button2 .btn-delete {
    margin-right: 5px;
    float: left;
} */
.table-button2 .btn-delete button {
    background: rgba(255, 0, 13, 0.5);
    padding: 5px;
}

.table-button2 .btn-update button {
    background: rgba(248, 103, 0, 0.5);
    padding: 5px;
}

.table-button2 .btn-add span {
    display: inline;
    font-size: 1rem;
}
/* From add mf */

#from-add
{
    position: absolute;
    top: 5%;
    right: 28%;
    width: 650px;
    height: 650px;
    background: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(2px);
    border-radius: 16px;
    display: block;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    z-index: 99;
}
#from-add span
{
    position: absolute;
    top: 5px;
    right: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.2);
    color: black;
    text-align: center;
    cursor: pointer;
    background: rgb(201, 216, 165);
}
#from-add span:hover
{
    background: crimson;
}

 .form-content{
   align-items: center;
   margin-top: 30px;
   margin-left: 30px;
   font-size: 20px;
   background: rgb(255, 255, 255);
}
.form-content input
{
    width: 600px;
    height: 40px;
    border-radius: 20px;
    border: none;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    background: rgba(218, 75, 75, 0.2);
    text-align: center; 
    font-size: 18px;
}

.btn-ok button:hover {
    background: rgba(0, 248, 83, 0.8);
    transition: all 0.8s;

}

.btn-ok button {
    background: rgba(255, 0, 13, 0.5);
    margin-left: 190px;
}
/* page */
.page{
    text-align: center;
}
pagination-outer{ text-align: center; }
.pagination{
    display: inline-flex;
    position: relative;
}
.pagination li a.page-link{
    color: rgb(0, 0, 0);
    background-color: #f4ebde;
    font-size: 18px;
    font-weight: 600;
    line-height: 33px;
    height: 33px;
    width: 33px;
    padding: 2px 8px;
    margin: 0 5px;
    border-radius: 50%;
    border: none;
    transition: all 0.5s ease 0s;
}
.pagination li a.page-link:hover,
.pagination li a.page-link:focus,
.pagination li.active a.page-link:hover,
.pagination li.active a.page-link{
    color: #fff;
    background: #eb3b5a;
    /* box-shadow: 2px 2px rgba(0, 0, 0, 0.2), 4px 4px rgba(0,0,0,0.1); */
}

@media only screen and (max-width: 480px){
    .pagination{
        font-size: 0;
        display: inline-block;
    }
    .pagination li{
        display: inline-block;
        vertical-align: top;
        margin: 0 0 10px;
    }
}